
@model BankAppMvc.ViewModels.TransactionsRowViewModel

@{
    Layout = null;
}


                            <tr>
                                <td>@Model.TransactionId</td>
                                <td>@Model.AccountId</td>
                                <td>@Model.Date</td>
                                <td>@Model.Type</td>
                                <td>@Model.Operation</td>
                                <td>@Model.Amount</td>
                                <td>@Model.Balance</td>
                                <td>@Model.Bank</td>
                                <td>@Model.Account</td>

                            </tr>





